:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Custom styles */
.bg-pastel-blue {
  background-color: #aec6cf; /* Pastel blue color */
}

.bg-pastel-red {
  background-color: #ff6961; /* Pastel red color */
}

.bg-dark-blue {
  background-color: #2f8ae6; /* Dark professional blue color */
}

.text-dark-blue {
  color: #660020; /* Dark professional blue color */
}